<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>paswd change</title>
</head>
<body>
<h1 style="text-align: center">Change Password</h1>
<form action=""  style="text-align: center" method="POST">
    {% csrf_token %}
    <input type="number" name="sid" placeholder="Enter the sid"><br>
    <input type="password" name="old_pass" placeholder="Enter the old Password"><br>
    <input type="password" name="new_pass" placeholder="Enter New Password"><br>
    <input type="submit" name="submit" value="submit">
</form>

</body>
</html>